In [31]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager
import time
from io import StringIO

In [32]:
races = ['150', '1100', '1200', '1200', '1500', '11000', '11650', '2100', '2200', '3100', '3200', '4100', '4200', '5200', '5400'] 
base_url = "https://www.swimcloud.com/country/usa/college/division/2/times/?dont_group=false&event="
all_tables = []

# Set up Chrome WebDriver
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

for j in races: 
    url = f'{base_url}{j}&gender=F&page=1&region=division_2&season_id=28&team_id&year' #change the gender for 'M' Male and 'F' female
    driver.get(url)  # Open the page

    time.sleep(3)
    # Extract the table
    table = driver.find_element(By.TAG_NAME, 'table')
    
    # Convert the HTML of the table to a DataFrame
    html = table.get_attribute('outerHTML')
    df = pd.read_html(StringIO(html))[0]
    print(f"Found race {j}")
    df['Race'] = j  # Add a column to indicate the race ID
    all_tables.append(df)  # Append the table to the list

driver.quit()  # Close the browser

# Combine all tables into one DataFrame
final_df = pd.concat(all_tables, ignore_index=True)

In [77]:
fifty_df = final_df[final_df["Race"] == "150"].reset_index(drop=True)
hundred_df = final_df[final_df["Race"] == "1100"].reset_index(drop=True)
two_hundred_df = final_df[final_df["Race"] == "1200"].reset_index(drop=True)
five_hundred_df = final_df[final_df["Race"] == "1500"].reset_index(drop=True)
thousand_df = final_df[final_df["Race"] == "11000"].reset_index(drop=True)
mile_df = final_df[final_df["Race"] == "11650"].reset_index(drop=True)

back_1_df = final_df[final_df["Race"] == "2100"].reset_index(drop=True)
back_2_df = final_df[final_df["Race"] == "2200"].reset_index(drop=True)

breast_1_df = final_df[final_df["Race"] == "3100"].reset_index(drop=True)
breast_2_df = final_df[final_df["Race"] == "3200"].reset_index(drop=True)

fly_1_df = final_df[final_df["Race"] == "4100"].reset_index(drop=True)
fly_2_df = final_df[final_df["Race"] == "4200"].reset_index(drop=True)

im_2_df = final_df[final_df["Race"] == "5200"].reset_index(drop=True)
im_4_df = final_df[final_df["Race"] == "5400"].reset_index(drop=True)

#find the 25th, 8th, and 16th time 
print(im_4_df.iloc[24]) #change for the race you want to see
print(im_4_df.iloc[7])
print(im_4_df.iloc[15])

Name                                  25
Name.1                      Anika Wright
Meet                                 NaN
Time          Calvin Winter Invitational
Flags                            4:27.61
Unnamed: 5                          D2 B
Race                                5400
Name: 24, dtype: object
Name                                           8
Name.1                           Shannah Dillman
Meet                                         NaN
Time          Delta State Christmas Invitational
Flags                                    4:20.21
Unnamed: 5                                  D2 B
Race                                        5400
Name: 7, dtype: object
Name                                  16
Name.1                 Vittoria Proietti
Meet                                 NaN
Time          Calvin Winter Invitational
Flags                            4:24.76
Unnamed: 5                          D2 B
Race                                5400
Name: 15, dtype: object